/* .container > .new-tweet {
  width: inherit;
} */

.new-tweet {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.new-tweet button {
  font-family: 'Bungee', cursive;
  font-size: 18px;
  background-color: #4056A1;
  color: #FFFFFF;

}

.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
}

#tweet-text {
  flex-direction: row;
  background-color: #f4f1ec;
  min-width: 90%;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid black;
  font-size: 24px;
}

#submit-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  padding-top: 15px;
}


