/*/////////////////////////////////////////*/
/*/ Tweet Container (Feed) Stylesheet */
/*/////////////////////////////////////////*/

/*/////////////////////////////////////////*/
/*/ Tweet Container */
/*/////////////////////////////////////////*/

article.tweet {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 600;
  border: 3px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1000px;
  word-wrap: break-word;
}

  article.tweet:hover { box-shadow: 10px 5px 5px gray; }



  /*/////////////////////////////////////////*/
  /*/ Profile pic, name and handle (@handle) */
  /*/////////////////////////////////////////*/

  article.tweet header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

    /* Profile pic and name */
    .tweeter-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .tweeter-profile span { padding-left: 15px; }

      span.tweeter-name { font-weight: 400; }

    /* Tweeter handle (@handle) */
    article.tweet .handle { color: lightgray; }



  /*/////////////////////////////////////////*/
  /*/ Tweet text body */
  /*/////////////////////////////////////////*/

  article.tweet p {
    padding: 15px;
    padding-top: 0; 
    padding-left: 25px;
  }

  .new-tweet {
    max-width: 1000px;
  }



  /*/////////////////////////////////////////*/
  /*/ Tweet post age, and icons */
  /*/////////////////////////////////////////*/

  article.tweet footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-top: 0;
    padding: 10px;
    border-top: 3px solid black;
    font-size: 16px;
  }

    article.tweet i {
      font-size: larger;
      padding-inline: 5px;
    }

      article.tweet i:hover { color: goldenrod; }